{% extends "../layouts/base.html" %}
{% block title %}{{controller_name}} - {{action_name}}{% end %}
{% block layout_body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{reverse_url('home')}}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{controller_name.capitalize()}} - {{action_name}}</li>
    </ol>
  </nav>
    <div id="list-{{controller_name}}" class="content scaffold-list" role="main">
        <h1>Routes</h1>
        <table class="table">
          <thead>
            <tr>
                <th>Route</th>
                <th>name</th>
                <th>Controller</th>
                <th>Action</th>
                <th>handler location</th>
                <th>handler_class</th>
                <th>kwargs</th>
            </tr>
          </thead>
          <tbody>
              {% for item in handler.application.url_list %}
              <tr>
                <td>{{ item.regex.pattern }}</td>
                <td>{{item.name}}</td>
                <td>{{item.target_kwargs['controller_name']}}</td>
                <td>{{item.target_kwargs['action_name']}}</td>
                <td>{{handler.application.controllers_dict[item.target_kwargs['controller_name']]['controller_file'] }}.py</td>
                <td>{{item.handler_class.__name__}}</td>
                <td>{{ ",".join(item.kwargs.keys())}}</td>
              </tr>
              {% end %}
          </tbody>
        </table>
    </div>
{% end %}
