{% extends "../layouts/base.html" %}
{% block title %}{{controller_name}} - {{action_name}}{% end %}
{% block layout_body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{reverse_url('home')}}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{controller_name.capitalize()}} - {{action_name}}</li>
    </ol>
  </nav>
    <div id="list-{{controller_name}}" class="content scaffold-list" role="main">
        <h1>List of {{controller_name.capitalize()}}</h1>
        {% if model is None or  type(model) is not list or len(model) == 0 %}
          <div class="alert alert-warning" role="alert">No Items found</div>
        {% else %}
          {% set table_cols = [k for k in model[0].keys() if not k == "id" ] %}
          <table class="table">
            <thead>
              <tr>
                  <th>id</th>
                  {% for col_name in table_cols %}
                  <th>{{col_name.capitalize()}}</th>
                  {% end %}
                  <th>{{_("Options")}}</th>
              </tr>
            </thead>
            <tbody>
                {% for item in model %}
                <tr>
                  <td>{{item['id']}}</td>
                  {% for k in table_cols %}
                    <td>{{item[k]}}</td>
                  {% end %}
                  <td>
                      <div class="btn-group btn-group-xs">
                          <a href="{{reverse_url('{}.show'.format(controller_name), escape(item['id'])) }}" class="btn btn-info btn-sm" role="button">
                              <span class="glyphicon glyphicon-eye-open"></span>
                              {{_("Show")}}
                          </a>
                          <a href="{{reverse_url('{}.edit'.format(controller_name), escape(item['id'])) }}" class="btn btn-info btn-sm" role="button">
                              <span class="glyphicon glyphicon-record"></span>
                              {{_("Edit")}}
                          </a>
                      </div>
                  </td>
                </tr>
                {% end %}
            </tbody>
          </table>
        {% end %}
    </div>
{% end %}
